{% extends  'base.html' %}
{% load static %}

<!-- ///////////////////////////////////////Menu/////////////////////////////////////// -->
    <section class="menu menu-1">
            <div class="menu-cover">
                <div class="menu-top">
                    <h3 class="menu-heading">
                        منو غذاهای ما
                    </h3>
                </div>
                <div class="menu-bottom">
                    <div class="menu-bottom-cover">
                            <div class="menu-bottom-row">
                                    <div class="menu-bottom-col">
                                                <img src="img/brennan-martinez--fDgl2HSng4-unsplash.jpg" alt="" class="menu-bottom-img">
                                                <h6 class="menu-bottom-name">اسم: پیتزا</h6>
                                                <h6 class="menu-bottom-time">زمان :30 دقیقه</h6>
                                                <h6 class="menu-bottom-price">قیمت:54000</h6>
                                                <div class="menu-bottom-button trigger">
                                                        <button class="menu-bottom-btn show-modal">خرید</button>
                                                </div>
                                    </div>
                                    <div class="menu-bottom-col">
                                                    <img src="img/brennan-martinez--fDgl2HSng4-unsplash.jpg" alt="" class="menu-bottom-img">
                                                    <h6 class="menu-bottom-name">اسم: پیتزا</h6>
                                                    <h6 class="menu-bottom-time">زمان :30 دقیقه</h6>
                                                    <h6 class="menu-bottom-price">قیمت:54000</h6>
                                                    <div class="menu-bottom-button trigger">
                                                            <button class="menu-bottom-btn">خرید</button>
                                                    </div>
                                        </div>
                                        <div class="menu-bottom-col">
                                                        <img src="img/brennan-martinez--fDgl2HSng4-unsplash.jpg" alt="" class="menu-bottom-img">
                                                        <h6 class="menu-bottom-name">اسم: پیتزا</h6>
                                                        <h6 class="menu-bottom-time">زمان :30 دقیقه</h6>
                                                        <h6 class="menu-bottom-price">قیمت:54000</h6>
                                                        <div class="menu-bottom-button trigger">
                                                                <button class="menu-bottom-btn">خرید</button>
                                                        </div>
                                            </div>
                                            <div class="menu-bottom-col">
                                                <img src="img/brennan-martinez--fDgl2HSng4-unsplash.jpg" alt="" class="menu-bottom-img">
                                                <h6 class="menu-bottom-name">اسم: پیتزا</h6>
                                                <h6 class="menu-bottom-time">زمان :30 دقیقه</h6>
                                                <h6 class="menu-bottom-price">قیمت:54000</h6>
                                                <div class="menu-bottom-button trigger">
                                                        <button class="menu-bottom-btn">خرید</button>
                                                </div>
                                    </div>
                                </div>
                                <div class="menu-bottom-row">
                                        <div class="menu-bottom-col">
                                                    <img src="img/brennan-martinez--fDgl2HSng4-unsplash.jpg" alt="" class="menu-bottom-img">
                                                    <h6 class="menu-bottom-name">اسم: پیتزا</h6>
                                                    <h6 class="menu-bottom-time">زمان :30 دقیقه</h6>
                                                    <h6 class="menu-bottom-price">قیمت:54000</h6>
                                                    <div class="menu-bottom-button trigger">
                                                            <button class="menu-bottom-btn">خرید</button>
                                                    </div>
                                                        </div>
                                        <div class="menu-bottom-col">
                                                        <img src="img/brennan-martinez--fDgl2HSng4-unsplash.jpg" alt="" class="menu-bottom-img">
                                                        <h6 class="menu-bottom-name">اسم: پیتزا</h6>
                                                        <h6 class="menu-bottom-time">زمان :30 دقیقه</h6>
                                                        <h6 class="menu-bottom-price">قیمت:54000</h6>
                                                        <div class="menu-bottom-button trigger">
                                                                <button class="menu-bottom-btn">خرید</button>
                                                        </div>
                                            </div>
                                            <div class="menu-bottom-col">
                                                            <img src="img/brennan-martinez--fDgl2HSng4-unsplash.jpg" alt="" class="menu-bottom-img">
                                                            <h6 class="menu-bottom-name">اسم: پیتزا</h6>
                                                            <h6 class="menu-bottom-time">زمان :30 دقیقه</h6>
                                                            <h6 class="menu-bottom-price">قیمت:54000</h6>
                                                            <div class="menu-bottom-button trigger">
                                                                    <button class="menu-bottom-btn">خرید</button>
                                                            </div>
                                                </div>
                                                <div class="menu-bottom-col">
                                                    <img src="img/brennan-martinez--fDgl2HSng4-unsplash.jpg" alt="" class="menu-bottom-img">
                                                    <h6 class="menu-bottom-name">اسم: پیتزا</h6>
                                                    <h6 class="menu-bottom-time">زمان :30 دقیقه</h6>
                                                    <h6 class="menu-bottom-price">قیمت:54000</h6>
                                                    <div class="menu-bottom-button trigger">
                                                            <button class="menu-bottom-btn">خرید</button>
                                                    </div>

                                        </div>
                                    </div>
                    </div>
                </div>
            </div>
        </section>